body {
    font-family: Arial, sans-serif;
    background-color: #EEFABD;
     margin: 0;
}

header {
    background-color: #263B6A;
    color: white;
    padding: 15px;
    text-align: center;
}
main {
    display: block;
}

.contenedor {
    padding:0 15px;
}
#mensaje-rol {
    text-align: center;
    margin-bottom: 15px;
    color: #263B6A;
}
.metricas {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.metrica {
    flex: 1;
    background-color: #A0D585;
    border-radius: 12px;
    padding: 15px;
    text-align:center;
    color: #263B6A;
}
.metrica h3{
    margin: 5px;
    padding: 10px;
    font-size: 14px;
}
.metrica p{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
#panel-vendedor {
    width: 100%;
    display: block;
    margin-top: 10px;
}
#seccion-alertas {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

#lista-alertas {
    margin-top: 10px;
}
.top {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 350px;
    text-align: center;
}
.item-top {
    background: #EEFABD;
    margin: 8px 0;
    padding: 8px;
    border-radius: 6px;
}
.tareas {
    margin: 20px 0 80px 0;
}
.tarjeta-tarea {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid #6984A9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.alerta {
    background-color: #A0D585;
    border-left: 5px solid #263B6A;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
input, select, textarea {
    width: 100;
    padding: 8px;
    margin: 8px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
button {
    padding: 8px 12px;
    border: none;
    background-color: #263B6A;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background-color: #6984A9;
}
section {
    margin-bottom: 15px;
}

.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #263B6A;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.menu button {
    margin: 0 5px;
}

#lista-tareas {
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-top: 10px;
}
.tarea {
    background: white;
    padding: 12px;
    border-radius: 10px;
    border-left: 6px solid #6984a9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.tarea.completada {
    border-left: 6px solid #A0D585;
    opacity: 0.7;
}

.tarea button{
    margin-top: 8px;
    margin-right: 5px;
}
.tarea strong {
    color: #263B6A;
}
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container button {
    width: 220px;
    margin: 10px 0;
}
#mensaje-rol {
    color: white;
    font-weight: bold;
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}